<div  class="row">
    @{
        ViewData["Title"] ="About GBS Consultancy Services";
    }
</div>

<h2>@ViewData["Title"]</h2>
<p>
    <div class="row">
        <table>
            <tr>
                <td>
                    <h3>How we started</h3>
                    GBS Consultancy Services was started by a group of  Software Architects who have entrepreneurship in blood,
                    who have worked as a software architects for multiple industries holding various positions.
                    Our passion has been about starting companies, operating them effectively, and implementing and managing change
                    to succeed. We have taken the best talent across our network of companies and formed one team under one corporate
                    umbrella to provide high quality services to our clients. Our services have been structured to ensure GBS Consultancy
                    Services clients have the support to become successful or manage success more effectively.
                    <br />
                    <h3>How we work</h3>
                    With the guidance of an experienced GBS consultant, we work one on one with our client to reach their organizations goals and objectives.
                    We break up the complex tasks into manageable steps. We define with our client measurable milestones. Guide our clients through the myriad of tasks and details.

                    We manage the entire project life-cycle on behalf of our client and with our client from inception to successful finish.
                    We combine our client’s intimate knowledge of their business with our expertise in implementing and managing change effectively to achieve the desired successful outcome.
                    Our service offerings are designed to help our clients generate revenue and increase cost-effectiveness.
                    <br />
                    <h3>How to get started</h3>
                    All our services offered start with a free no-obligation consultation. Speak with an experienced executive who can go over your organizations needs, answer questions,
                    and offer some preliminary advice. If there is interest to move forward, we can certainly assist in the next phase of outlining the specifics and the requirements.
                    <br />
                    We look forward to discuss your project.<h3>@Html.ActionLink("Contact us", "Contact", "Home", null, null)</h3>
                </td>
            </tr>

        </table>
    </div>
    
    @*<div  class="row">
        <h3>About Our MuleSoft Chief Architect </h3>
        @Html.ActionLink("Click here", "VarmaProfile", "Home", null, null)
        <br />
        <br />
        <h3>About Our Azure Chief Architect </h3>
        @Html.ActionLink("Click here", "SalimProfile", "Home", null, null)
    </div>*@
</p>


