
@{
    ViewData["Title"] = "Architecture";
}
<p>
    <div class="row">
        <table>
            <tr>
                <td>
                    <h2>Architecture overview</h2>
                    GBS has been a leader in application architecture for more than 7 years. Our vendor-neutral viewpoint, global network of technology expertise, broad ecosystem relationships, and ability to stay at the forefront of software engineering innovation uniquely position us to add value for our clients.
                    Deep experience: Delivery of 20 technology architecture solutions annually with certified technology architects.
                    7+ year track record with object technology, open systems and SOA.
                    Innovation centers for Oracle, IBM, SAP, Microsoft, and Open Source.
                    Alliances and deep product knowledge with all key platforms vendors and emerging providers.
                    Innovative approaches to architecting advanced technologies:

                    Architecture Assessments, Strategy, Design and Delivery
                    Microservices, API Management and Event-Driven Architectures
                    Next-Generation IoT, VR/AR, Artificial Intelligence and Blockchain Architectures
                    DevOps, Cloud Engineering and Web-scale Architectures
                    We look forward to discuss your project.<h3>@Html.ActionLink("Contact us", "Contact", "Home", null, null)</h3>
                </td>
            </tr>
        </table>
    </div>
</p>

