
@{
    ViewData["Title"] = "Cloud Migration";
}

<p>
    <div class="row">
        <table>
            <tr>
                <td></td>
                <td>

                    <h2>Cloud Migration</h2>

                    We look forward to discuss your project.<h3>@Html.ActionLink("Contact us", "Contact", "Home", null, null)</h3>
                </td>
            </tr>
        </table>
    </div>
</p>


