@{
    ViewData["Title"] = "Contact GBS Consultancy Services";
}
<h2>@ViewData["Title"]</h2>

<address>
    @*One Microsoft Way<br />*@
    US Corporate location <br />
    Canton, MI 48188<br />
    <abbr title="Phone">P:</abbr>
    806.853.7638<br />
    Azure Chief Architect:Muhammad Salim Bhonhariya
    <br />
    <br />
    <br />

    @*One Microsoft Way<br />*@
    INDIA location <br />
    Hyderabad, Telangana<br />
    <abbr title="Phone">P:</abbr>
    +91 95737 21469<br />
    MuleSoft Chief Architect: Srihari Varma Avanigadda
</address>
<hr />
<address>
    <strong>Support:</strong> <a href="mailto:salimbhonhariya@gmail.com">Muhammad Salim Bhonhariya</a><br />
    <strong>Azure Marketing:</strong> <a href="mailto:salimbhonhariya@gmail.com">Muhammad Salim Bhonhariya</a><br />
    <strong>MuleSoft Marketing:</strong> <a href="mailto:varmasrihari.avanigadda@gmail.com">Srihari Varma Avanigadda</a>
</address>
<div>
    <div>
        <h3>@Html.ActionLink("Home", "Index", "Home", null, null)</h3>
    </div>
</div>
@*<hr />
<h3>or</h3>*@
<!---->
@*<form class="well form-horizontal" action="SendEmail" method="post" id="contact_form" data-toggle="validator">
    <fieldset>

        <!-- Form Name -->
        <legend class="ContactUsHeading">Contact Us Right here!</legend>

        <!-- Text input-->

        <div class="form-group">
            <label class="col-md-4 control-label">First Name</label>
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input name="first_name" placeholder="First Name" class="form-control" type="text" required>
                </div>
            </div>
        </div>

        <!-- Text input-->

        <div class="form-group">
            <label class="col-md-4 control-label">Last Name</label>
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input name="last_name" placeholder="Last Name" class="form-control" type="text" required>
                </div>
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label">E-Mail</label>
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                    <input name="email" placeholder="E-Mail Address" class="form-control" type="email" required>
                </div>
            </div>
        </div>
        @*  

        <!-- Text input-->

        <div class="form-group">
            <label class="col-md-4 control-label">Phone #</label>
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                    <input name="phone" placeholder="(845)555-1212" class="form-control" type="number" required>
                </div>
            </div>
        </div>

        <!-- Text input-->
        <!-- Text input-->
        <!-- Select Basic -->
        <!-- Text input-->
        <!-- Text input-->
        <!-- radio checks -->
        <div class="form-group">
            <label class="col-md-4 control-label">Your</label>
            <div class="col-md-4">
                <div class="radio">
                    <label>
                        <input type="radio" name="Company" value="yes" /> Company
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="company" value="no" /> Individual
                    </label>
                </div>
            </div>
        </div>

        <!-- Text area -->

        <div class="form-group">
            <label class="col-md-4 control-label">Project Description</label>
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <textarea class="form-control" name="comment" placeholder="Project Description" required></textarea>
                </div>
            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label"></label>
            <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Send <span class="glyphicon glyphicon-send"></span></button>
            </div>
        </div>

    </fieldset>
</form>*@


<!-- /.container -->
