
@{
    ViewData["Title"] = "QualityAssurance";
}
<div>
    <h2>QA Practice Disciplines</h2>
    <table>
        <tr>
            <td>
                <ul>
                    <li>
                        Manual Testing
                    </li>
                </ul>
                <ul>
                    <li>
                        Smoke
                    </li>
                </ul>
                <ul>
                    <li>
                        Functional
                    </li>
                </ul>

                <ul>
                    <li>
                        System
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul>
                    <li>
                        Integration
                    </li>
                </ul>
                <ul>
                    <li>
                        Regration
                    </li>
                </ul>
                <ul>
                    <li>
                        UAT
                    </li>
                </ul>

                <ul>
                    <li>
                        Production Support
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul>
                    <li>
                        Automation Testing
                    </li>
                </ul>
                <ul>
                    <li>
                        Mobile Test Automation
                    </li>
                </ul>
                <ul>
                    <li>
                        OAUTH
                    </li>
                </ul>
                <ul>
                    <li>
                        SQL Injection
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul>
                    <li>
                        Brute Force Attack
                    </li>
                </ul>
                <ul>
                    <li>
                        End-to-End Encryption
                    </li>
                </ul>
                <ul>
                    <li>
                        Web Services Testing
                    </li>
                </ul>
                <ul>
                    <li>
                        RESTful
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul>
                    <li>
                        SOAP UI
                    </li>
                </ul>
                <ul>
                    <li>
                        Database Testing
                    </li>
                </ul>
                <ul>
                    <li>
                        RESTful
                    </li>
                </ul>

                <ul>
                    <li>
                        Load and Performance Testing
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul>
                    <li>
                        MuleSoft Testing
                    </li>
                </ul>
            </td>
        </tr>
    </table>

</div>
<div class="col-md-3">
                @Html.ActionLink("Home", "Index", "Home", null, null)
</div>

